/* Fonts */
/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
	box-sizing: border-box;
  }
  
  body {
	/* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/12005/agsquare.png); */
	/* background-image: url(https://pixabay.com/get/ea37b60e2ff0083ed1534705fb0938c9bd22ffd41cb3134493f0c371a2/wood-3271749_1920.jpg); */
	padding-top: 20%;
	font-family: 'Roboto Slab', sans-serif;
  }
  
  .background{
	content: ' ';
	z-index: -1;
	height: 100%; width: 100%;
	background: url(https://pixabay.com/get/ea37b60e2ff0083ed1534705fb0938c9bd22ffd41cb3134493f0c371a2/wood-3271749_1920.jpg);
	position: absolute; 
	top: 0; left: 0;
	filter: blur(10px);
  }
  
  h1,
  .login,
  .account,
  .contact{
	width: 80%;
	margin: 0 auto;
  }
  
  @supports (display: flex) {
	body {
	  padding:0;
	  height: 100vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	}
	
	h1, .login, .account, .contact {
	  margin: 0;
	  width: 80%;
	}
  }
  
  @supports (display: grid) {
	body {
	  display: grid;
	  grid-template-columns: 80%;
	  align-content: center;
	  align-items: stretch;
	}
	@media (min-width: 650px) {
	  body {
		grid-template-columns: repeat(2, minmax(150px, 20%));
	  }
	  h1,
	  .login {
		grid-column-end: span 2;
		width: auto;
	  }
	  .login > div {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr;
		align-items: center;
	  }
	  .login > div.actions {
		grid-template-columns: 1fr 1fr 1fr;
	  }
	  .account {
		border-right: 1px dotted rgb(191, 216, 227);
		padding: 0 10px 0 0;
		align-self: end;
		width: auto;
		color: rgb(255,255,255);
	  }
	  input[type="submit"] {
		grid-column: 2;
	  }
	  .actions a {
		justify-self: end;
	  }
	}
  }
  
  h1 {
	background-color: rgba(88, 134, 166, 0.8);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: rgb(255,255,255);
	padding: 10px;
	font-size: 24px;
	line-height: 1.4;
  }
  
  .login {
	/* background-color: rgba(191, 216, 227, .4); */
	background-color:rgba(6, 173, 219, 0.1); 
	border: 1px solid rgb(6, 173, 219);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: rgb(255,255,255);
	padding: 10px;
	margin-bottom: 10px;
  }
  
  .login > div {
	padding: 5px 0;
  }
  
  input[type="submit"] {
	border: 1px solid rgba(191, 216, 227, .8);
	border-radius: 5px;
	color: #fff;
	background-color: rgb(6, 173, 219);
	font-size: 110%;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
	border: 1px solid rgba(191, 216, 227, .8);
	padding: 5px;
	border-radius: 5px;
	font-size: 110%;
	width: 90%;
	float: right;
	clear: both;
  }

  label {
	  display: inline-block;
	  text-align: right;
	  padding-right: 20px;
	  font-weight: bolder;
	  font-size: 30px;
	  color:rgb(255, 255, 255);
	  -webkit-text-stroke: .5px black;
  }
  
  .actions a {
	font-size: 80%;
  }

.ok, .info, .error {
	padding: 0px 2px;
}

.ok {
	/* background: #cfc; */
	/* border: 2px solid #9c9; */
	color: rgb(255, 255, 255);
}

.info {
	/* background: #ffc; */
	/* border: 2px solid #cc9; */
	color: rgb(255, 255, 255);
}

.error {
	/* background: #fcc; */
	/* border: 2px solid #c99; */
	color: rgb(255, 255, 255);
}
